body {
    background-color: #f7f7f7;
    height: 200vh;
}


h2 {
    font-weight: bold;
    font-size: 20px;
    color: #252525;
    padding: .5rem;
}

.separator {
    border-top: 1px solid #ccc;
    height: 2px;
    max-width: 100%;
    padding: 0;
    margin: .5rem;
  }

.btn {
    cursor: pointer;
    text-decoration: none;
    color: #3f3f3f;
    padding: .25rem 1rem;
    border-radius: 25px;
    background-color: #e6e6e6;
    border: none;
}
